:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hero-footer-color: #2f303a;
  --background-text-color: #ffffff;
  --svg-primary-color: #afb1b8;
  --background-section-color: #f5f5f5;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--background-text-color);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0;
}

/* -----------------------------------HEADER------------------ */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  display: inline-block;
}

.head-logo {
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
}

.logo-part {
  color: #000000;
}

.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.header-container,
.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link.current {
  color: var(--accent-color);
}

.header-nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
    content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color) ;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  
}

.header-nav-link.current::after {
  opacity: 1;
}

.header-tel {
  margin-left: auto;
}

.header-contacts {
  display: flex;
  gap: 50px;
}

.contact-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-icon:hover,
.header-icon:focus {
  fill: var(--accent-color);
}

/* -----------------MAIN-------------------------------------- */

.hero {
  background-color: var(--hero-footer-color);
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--background-text-color);
  background: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 216px;
  height: 50px;
  border: none;
}

/* section 2 */
.values {
  border-color: var(--background-text-color);
}

.values-list {
  display: flex;
}

.values-item:not(:last-child) {
  margin-right: 30px;
}

.icon-container {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  gap: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.values-icon {
  align-items: center;
  justify-content: center;
}

.values-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.values-text {
  line-height: calc(24 / 14);
  color: var(--secondary-text-color);
  min-width: 270px;
}

/* what-we-do--------------- */
.gallery {
  padding-top: 0;
  background-color: var(--background-text-color);
}

.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  margin-bottom: 50px;
  text-align: center;
}
.gallery-list {
  /* padding-bottom: 94px; */
  display: flex;
}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.gallery-item {
  width: calc(100%-60px) / 3;
  position: relative;
}

.gallery-bottom-text {
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  color: var(--background-text-color);
  line-height: calc(16 / 14);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
}

/* <!-- our team --> */
.team {
  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  width: calc((100%-90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.team-section {
  padding: 30px 0;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
}

.team-bottom-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  fill var(--transition-duration) var(--transition-timing-function);
}

.team-soc-icon {
  fill: var(--svg-primary-color);
  transition:  fill var(--transition-duration) var(--transition-timing-function);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--background-text-color);
}

/* постійні клієнти */

.customer {
  background-color: var(--background-text-color);
}

.customer-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.customer-list {
  display: flex;
  gap: 30px;
}

.customer-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--svg-primary-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.customer-icon {
  fill: var(--svg-primary-color);
  height: 60px;
  transition:  fill var(--transition-duration) var(--transition-timing-function);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--accent-color);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--accent-color);
}

/* -----------------FOOTER-------------------------------------- */
.conti {
  display: flex;
  align-items: baseline;
}

.footer {
  background: var(--hero-footer-color);
  padding: 60px 0;
}

.footer-contacts-box {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.footer-logo-part {
  color: var(--background-text-color);
}

.contacts-address {
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--background-text-color);
  margin-bottom: 9px;
}

.footer-contats-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--background-text-color);
  margin-bottom: 20px;
  color: var(--background-text-color);
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.soc-link-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.soc-link-icon {
  fill: var(--background-text-color);
}

.soc-link-item:hover,
.soc-link-item:focus {
  background-color: var(--accent-color);
}

.soc-link-item:hover .soc-link-icon,
.soc-link-item:focus .soc-link-icon {
  fill: var(--background-text-color);
}

/* ________________________PORTFOLIO_________________________________ */

.portfolio-navi-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--primary-text-color);
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  background: #f5f4fa;
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.active {
  color: var(--background-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  /* margin: -15px; */
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  overflow: auto;
}

.portfolio-item-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--secondary-text-color);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--background-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-text-color);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
